.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/podio.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/markdown-navigator/profiles_settings.xml
.vscode/launch.json
.vscode/settings.json
podio/.vscode/settings.json
podio/llegada/__pycache__/urls.cpython-36.sublime-workspace
podio/db.sqlite3
podio/db.sqlite3
podio.sublime-project
podio.sublime-workspace
