{% extends 'llegada/base_template.html' %}
{% block title %}Llegada{% endblock%}

{% block page_title %} Welcome {% endblock %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>LLegada, Intento 1</h1>
        <p>Primer Intentona de sitio escrito puramente en django.</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
{% endblock %}

{% block nav_bar%}

    {% if user.is_authenticated %}

        <ul>
            <li><a href="#"> {{ user }} </a></li>
            <li><a href="#"> Carrera </a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{% url 'login' %}">Log In</a></li>
        </ul>
    {% endif %}
{% endblock %}